# Test case
Opis.

In [11]:
import pandas as pd
import numpy as np

In [12]:
dataDir = "../Data/Reims/"

In [46]:
df = pd.read_csv(dataDir + "170830-noheader.csv")

C:\Users\Matej\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
df.drop('Logic', 1, inplace=True)

In [14]:
df.drop(0, 0, inplace=True)

In [15]:
df['Date'] = df['Date&Time'];
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S');

In [16]:
df["Date&Time"][1]

'2017-08-30 04:36:30'

In [17]:
from datetime import datetime
datetime.strptime('2017-08-30 04:36:30', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2017, 8, 30, 4, 36, 30)

In [49]:
df.describe()

,Number,Date&Time,ms,CH1,CH2,CH3,CH4,CH5,CH6,CH7,...,CH11,CH12,CH13,CH14,CH15,CH16,CH17,CH18,CH19,CH20
count,71281,71281,71281,71281.0,71281.0,71281,71281,71281.0,71281.00,71281.00,...,71281.0,71281.0,71281.0,71281.0,71281.00,71281.0,71281.0,71281.0,71281.0,71281.00
unique,71281,35641,5,63.0,59.0,21559,22052,558.0,5696.00,667.00,...,1236.0,1238.0,806.0,843.0,74.00,11749.0,2813.0,518.0,1106.0,1338.00
top,11208,2017-08-30 05:19:47,500,23.1,23.1,15546,59101,28.8,-0.09,1.09,...,2.0,6.8,16.4,2.4,23.86,0.4,814.0,12.0,350.9,1.58
freq,1,2,27449,8615.0,5472.0,648,824,1199.0,4250.00,4692.00,...,8763.0,10426.0,19277.0,19678.0,23993.00,943.0,354.0,823.0,917.0,2867.00

In [47]:
df.drop('Logic', 1, inplace=True)
df.drop('Alarm1-10',1, inplace=True)
df.drop('Alarm11-20',1, inplace=True)
df.drop('Alarm21-30',1, inplace=True)
df.drop('Alarm31-40',1, inplace=True)
df.drop('AlarmLP',1, inplace=True)
df.drop('AlarmOut',1, inplace=True)

In [48]:
i=21
while i != 41:
    j=str(i)
    df.drop('CH'+j, 1, inplace=True)
    i+=1