# Test case
Opis.

In [6]:
import pandas as pd
import numpy as np

In [7]:
dataDir = "../Data/Reims/"

In [14]:
df = pd.read_csv(dataDir + "170830-noheader.csv")

C:\Users\kkenda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df.drop('Logic', 1, inplace=True)

In [35]:
df.drop(0, 0, inplace=True)

In [37]:
df['Date'] = df['Date&Time'];
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S');

In [27]:
df["Date&Time"][1]

'2017-08-30 04:36:30'

In [32]:
from datetime import datetime
datetime.strptime('2017-08-30 04:36:30', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2017, 8, 30, 4, 36, 30)

In [41]:
df.describe()

,Number,Date&Time,ms,CH1,CH2,CH3,CH4,CH5,CH6,CH7,...,CH38,CH39,CH40,Alarm1-10,Alarm11-20,Alarm21-30,Alarm31-40,AlarmLP,AlarmOut,Date
count,71280.0,71280,71280.0,71280.0,71280.0,71280.0,71280.0,71280.0,71280.00,71280.00,...,71280.0,71280.0,71280.0,71280,71280,71280,71280,71280,71280,71280
unique,71280.0,35640,4.0,62.0,58.0,21558.0,22051.0,557.0,5695.00,666.00,...,7.0,6.0,6.0,1,1,1,1,1,1,35640
top,28727.0,2017-08-30 09:09:34,500.0,23.1,23.1,15546.0,59101.0,28.8,-0.09,1.09,...,0.0,0.0,0.0,LLLLLLLLLL,LLLLLLLLLL,LLLLLLLLLL,LLLLLLLLLL,LLLL,LLLL,2017-08-30 09:32:12
freq,1.0,2,27449.0,8615.0,5472.0,648.0,824.0,1199.0,4250.00,4692.00,...,38162.0,37743.0,44252.0,71280,71280,71280,71280,71280,71280,2
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-30 04:36:30
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-30 14:30:29